@using H_application.DTOs.GuestDto
@model IEnumerable<GuestResponse>
<partial name="_style" />
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Guest Information</h4>
        <a asp-action="Create" class="btn btn-sm btn-success mt-2 mb-2"><i class="fa-solid fa-square-plus"></i></a>
        <div class="table-responsive">
            <table class="table table-stripped table-hover  zero-configuration">
                <thead>
                    <tr>
                        
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                          
                            <td>
                                @Html.DisplayFor(items => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(items => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(items => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(items => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(items => item.Address)
                            </td>
                            <td>
                                <a asp-controller="Gust" asp-action="Edit" asp-route-id="@item.GuestId" class="mr-2">
                                    <i class="fa-solid fa-pen-nib icon-edit"></i>
                                </a>
                                <a asp-controller="Gust" asp-action="Delete" asp-route-id="@item.GuestId">
                                    <i class="fa-solid fa-trash icon-delete"></i>
                                </a>
                            </td>


                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
