@using H_application.DTOs.InvoicesDto
@model IEnumerable<InvoicesResponse>

<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-3">Invoices</h4>

        <form method="post" asp-action="PrintMultiple">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th> <!-- Checkbox column -->
                        <th>Invoice ID</th>
                        <th>Guest</th>
                        <th>Total ($)</th>
                        <th>Tax ($)</th>
                        <th>Grand Total ($)</th>
                        <th>Issued Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var invoice in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="invoiceIds" value="@invoice.InvoiceId" />
                            </td>
                            <td>@invoice.InvoiceId</td>
                            <td>@invoice.GuestName</td>
                            <td>@invoice.TotalAmount?.ToString("C")</td>
                            <td>@invoice.TaxAmount?.ToString("C")</td>
                            <td>@invoice.GrandTotal?.ToString("C")</td>
                            <td>@invoice.IssuedDate?.ToString("dd MMM yyyy")</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@invoice.InvoiceId" class="btn btn-sm btn-outline-primary btn-sm">View</a>
                                <a asp-action="Print" asp-route-id="@invoice.InvoiceId" class="btn btn-outline-success btn-sm">Print</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <button type="submit" class="btn btn-sm btn-success mt-2">Print Selected</button>
        </form>
    </div>
</div>
