@using H_application.DTOs.ServicesDto
@model IEnumerable<ServicesResponse>
<partial name="_style" />
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Service Information</h4>


        <a asp-action="Create" class="btn btn-sm btn-success">
            <i class="fa-solid fa-square-plus"></i>
        </a>

        <div class="table-responsive">
            <table class="table table-stripped table-hover  zero-configuration">
                <thead>
                    <tr>

                        <th>
                            Service Name
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Currency
                        </th>
                        <th>
                            IsActive
                        </th>
                        <th>
                            Description
                        </th>

                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(items => item.ServiceName)
                            </td>
                            <td>
                                @Html.DisplayFor(items => item.Category)
                            </td>

                            <td>
                                @Html.DisplayFor(items => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(items => item.Currency)
                            </td>
                            <td>
                                @if (item.IsActive == true)
                                {
                                    <span style="color: green; font-weight: bold;">Active</span>
                                }
                                else
                                {
                                    <span style="color: red; font-weight: bold;">Inactive</span>
                                }
                            </td>

                            <td>
                                @Html.DisplayFor(items => item.Description)
                            </td>

                            <td>
                                <a asp-controller="Services" asp-action="Edit" asp-route-Id="@item.ServiceId" class="btn btn-sm btn-outline-primary mr-1">
                                    <i class="fa-solid fa-pen-nib"></i>
                                </a>

                                <a asp-controller="Services" asp-action="Delete" asp-route-Id="@item.ServiceId" class="btn btn-sm btn-outline-danger">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>


                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>